/**
 * CSS :
 *   selectorlist {
 *   property: value;
 *   [more property:value; pairs]
 *   }
 *
 *   REF : https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
 *   CSS Grid Layout tutos :
 *   https://www.youtube.com/watch?v=jV8B24rSN5o
 *   https://gridbyexample.com
 */


body {
  cursor: crosshair;
  font-family: 'helvetica', sans-serif;
  background-color: whitesmoke;
  font-size: 31px;

}

/*
#canvasGrid {
  margin:-10px; position: relative; z-index:200;
} 
*/
/*   ADDED THIS >>>>>>>>>>>>>>>>>>> */
canvas{
  position: absolute;
  top: 0px;
}

.lienprojet {
  color: black;
}

.galerie {
  font-size: 130px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: -100px;
}

/*
.sketch {
  margin: -10px;
  position: relative;
  z-index: 200;
}
*/
.first {
  margin-top: -35px;
}

.deux {
  margin-top: -7px;
}

.mySlides {
  width: 100%;
  height: auto;
}

.mySlides2 {
  width: 100%;
  height: auto;
}

.cadreimg {
  width: 100%;
  height: auto;
}

.legende {
  font-size: 13px;
}

.main {
  position: relative;
  width: 100%;
  padding: 0 10px;
  padding-bottom: 20px;
  padding-top: 750px; /*  ADDED this too for spacing bewteen canvas & main*/
  box-sizing: border-box;
}

.main_wide {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 5px auto 6px auto;
  padding: 0 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}


h1 {
  font-weight: 700;
  font-size: 3.7em;
  color: blue;
  margin-bottom: 35px;
}

h2 {
  font-weight: 600;
  font-size: 1.7em;
  color: blue;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: red;
}



/**
 * Our grid layout
 *
 */

/* --  2 column grid : 70% 30% ratio   -- */
.grid_2colText {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 5px;
  font-size: 0.75em;

}

.grid_2colText>div {

  padding: 1em;
}

.grid_2colText>div:nth-child(odd) {
  background: whitesmoke;
}


/* responsive */


@media (max-width: 1300px) {
  body {
    font-size: 28px;
  }

  .galerie {
    font-size: 100px;
    text-align: center;
    line-height: 0px;
  }

}

@media (max-width: 1190px) {
  body {
    font-size: 22px;
  }

  .legende {
    font-size: 11px;
  }

  .galerie {
    font-size: 100px;
    text-align: center;
    line-height: 0px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

}

@media (max-width: 1000px) {
  body {
    font-size: 18px;
  }

  .first {
    margin-top: 0px;
    /* Add a top margin to avoid content overlay */
  }

  .galerie {
    font-size: 90px;
    text-align: center;
    line-height: 0px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

}

@media (max-width: 820px) {
  h1 {
    font-size: 2.3em;

  }

  .grid_2colText {
    display: contents;
  }

  .first {
    margin-top: 0px;
  }

  .galerie {
    font-size: 60px;
    text-align: center;
    line-height: 0px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

}

@media (max-width: 640px) {
  h1 {
    font-size: 1.7em;
    margin-bottom: 5px;
  }

  body {
    font-size: 0.9em;
  }



  .first {
    margin-top: 0px;
  }

  .galerie {
    font-size: 40px;
    text-align: center;
    line-height: 0px;
  }


}


/* navigation bar */

.navbar {
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 100;
  background-color: whitesmoke;
  margin-left: -10px;


}

/* Links inside the navbar */
.navbar a {

  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 10px;
  text-decoration: none;


}

/* Change background on mouse-over */
.navbar a:hover {
  background: whitesmoke;
  color: whitesmoke;
}

/* Main content */
.main {
  margin-top: 50px;
  /* Add a top margin to avoid content overlay */
}